# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL 
3. R
4. C++

#### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn
4. SciPy

| Data Science Tools | 
|--------------------|
|Jupyter Notebooks|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python
| Description | Expression |
|-------------|------------|
|Addition| result = 7 + 3|
|Substraction| result = 7 - 3|
|Multiplication | result = 7 * 3 |

#### This is a simple arithmetic expression to multiply then add integers (3 * 4) + 5

In [41]:
result = (3 * 4) + 5
print (result)

17

##### This will convert 200 minutes to hours

In [38]:
minutes =200
hours = minutes / 60
print(hours)

3.3333333333333335

## Objectives:
- List popular languages for data Science
- List common libraries used by Data Scientists
- List Data Science open source development tools
- Examples of evaluating arithmetic expressions in Python

## Author
###### Hui Pui Yee